@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-serif: "Noto Serif SC", "Playfair Display", serif;
    --font-sans: "Noto Sans SC", "Inter", sans-serif;
  }

  body {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


